@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

html {
  height: 100%;
  margin: 0;
  color:var(--primary-color) !important;
  font-family: var(--primary-font);
  overflow-x: hidden;
  overflow-y: hidden;
}