@import "bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  // Colors variables
  --primary-color: #CACEC8FF;
  --secondary-color: #7fa19b;
  --ternary-color: #466753;
  --cuaternary-color: #26334b;
  --penta-color: #466753;
  --hexa-color: #7c857f;
  --hepta-color: #2d2540;

  // Typography variables
  --primary-font: Cinzel;
}

html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura de la pantalla */
  margin: 0;
  font-family: var(--primary-font);
}

#main-container {
  background-image: url('../../../assets/img/fondo-admin.jpg') ;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center;
  min-height: calc(100vh - 56px - 48px); /* Ajusta con la altura exacta del nav y el footer */
  padding-bottom: 60px; /* Deja espacio para el footer */
}

footer {
  height: 48px; /* Ajusta a la altura real del footer */
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* From Uiverse.io by WhiteNervosa */
.btn {
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: color;
  color: var(--primary-color) !important;
}

.btn:focus,
.btn:hover {
  color: var(--primary-color);
}

.btn:focus:after,
.btn:hover:after {
  width: 100%;
  left: 0%;
}

.btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: width, left;
}

#Containertable{
  background-color: var(--cuaternary-color);
}

#table{
  background-color: var(--cuaternary-color) !important;
}

td,tr,th{
  background-color: var(--cuaternary-color) !important;
  color: var(--primary-color) !important;
}


