@import "bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

#body-admin{
  background-image: url('../../../assets/img/fondo-admin.jpg') !important;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#table {
  background-color: var(--cuaternary-color) !important;
}

td, tr, th{
  background-color: var(--cuaternary-color) !important;
  color: var(--primary-color) !important;
}

.alert-success {
  color: green;
  background-color: #d4edda;
  border-color: #c3e6bc;
}

.alert-danger {
  color: red;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

h1, h2, h3, p, td, th {
  font-size: var(--font-size-title);
}

tr:hover {
  background-color: var(--hexa-color) !important;
}

td button {
  margin-right: 10px;
}

#Containertable {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;

  max-width: 90%;
  width: auto;
  margin-top: 20px;
  box-sizing: border-box;
}