@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Mónica
// Pequeña modificación Miguel

#chooseRole-body {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/fondo-choose-role.png')!important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

main {
    background-size: cover;
    background-position: center;
    min-height: 80vh;

}

#content-container{
    background-color: var(--octa-color) !important;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;


}

#content-container .tittle {
  max-width: 100%; /* Ajusta el valor según el ancho deseado */
  width: 99%;
  padding: 3 3rem;
  box-sizing: border-box;
}

.card{
  width: 0.5rem;
  height: 0.5rem;
  padding: -15px;
  margin: 0;

}

.card-icon i {
  font-size: 1.5rem; /* Use rem units for better responsiveness */
  padding: 0;
  margin: 0;
}

footer {
  height: auto; /* Ajusta a la altura real del footer */
}

//colores en funcion de las casas
//1
.Gryffindor *{
  color: var(--griffindor-color) !important;
}

.Gryffindor {
  box-shadow: 0 0 15px var(--griffindor-color) !important;
  border: 1px solid var(--griffindor-color) !important;
  border-radius: 1.25rem;
}

//2
.Hufflepuff *{
  color: var(--hufflepuff-color) !important;
}

.Hufflepuff {
  box-shadow: 0 0 15px var(--hufflepuff-color) !important;
  border: 1px solid var(--hufflepuff-color) !important;
  border-radius: 1.25rem;
}

//3
.Ravenclaw *{
  color: var(--ravenclaw-color) !important;
}

.Ravenclaw {
  box-shadow: 0 0 15px var(--ravenclaw-color) !important;
  border: 1px solid var(--ravenclaw-color) !important;
  border-radius: 1.25rem;
}

//4
.Slytherin *{
  color: var(--slytherin-color) !important;
}

.Slytherin {
  box-shadow: 0 0 15px var(--slytherin-color) !important;
  border: 1px solid var(--slytherin-color) !important;
  border-radius: 1.25rem;
  padding: 0.625rem;
}

.container-div {
    height: 70%;
    background-color: #7fa19b  !important;
    max-width: 90vh;
    max-height: 60vh;

  p{
    aling-text: center;
    color: var(--primary-color) !important;
  }

  .card-icon{
    display: flex;
    justify-content: center;

  }
}

.Gryffindor .card {
  background-color: #f8d7da;
}

.Gryffindor .house-badge {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: auto;
  margin-top: -5px;
  padding: 0.5rem;
  filter: drop-shadow(0 0 15px var(--griffindor-color));
}

.container-div .Gryffindor {
  background-color: var(--cuaternary-color) !important;
  .btn {
    text-shadow: 0px 0px 5px var(--griffindor-color);
    font-size: math(1.5rem + 0.5rem);
  }
}

.Hufflepuff .house-badge {
  height: 7rem;
  width: 8rem;
  border-radius: 50%;
  margin-right: auto;
  margin-top: -5px;
  padding: 0.5rem;
  filter: drop-shadow(0 0 15px var(--hufflepuff-color));
}

.container-div .Hufflepuff {
  background-color: var(--octa-color) !important;
  .btn {
    text-shadow: 0px 0px 5px var(--hufflepuff-color);
    font-size: math(1.5rem + 0.5rem);
  }
}

.Ravenclaw .house-badge {
  height: 7rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: auto;
  margin-top: -5px;
  padding: 0.5rem;
  filter: drop-shadow(0 0 15px var(--ravenclaw-color));
}

.container-div .Ravenclaw {
  background-color: var(--octa-color) !important;
  .btn {
    text-shadow: 0px 0px 5px var(--ravenclaw-color);
    font-size: math(1.5rem + 0.5rem);
  }
}

.Slytherin .house-badge {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-right: auto;
  margin-top: -5px;
  padding: 0.5rem;
  filter: drop-shadow(0 0 15px var(--slytherin-color));
}

.container-div .Slytherin {
  background-color: var(--octa-color) !important;
  .btn {
    text-shadow: 0px 0px 5px var(--slytherin-color);
    font-size: math(1.5rem + 0.5rem);
  }
}

.Gryffindor, .Hufflepuff, .Ravenclaw, .Slytherin {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
