@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  // Colors variables
  --primary-color: #CACEC8FF;
  --secondary-color: #7fa19b;
  --ternary-color: #466753;
  --cuaternary-color: #26334b;
  --penta-color: #466753;
  --hexa-color: #7c857f;
  --hepta-color: #2d2540;

  // Typography variables
  --primary-font: Cinzel;
}

.card{
  width: 17rem;

}

html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura de la pantalla */
  margin: 0;
  color:var(--primary-color) !important;
  font-family: var(--primary-font);
}

main{
    background: url('../../assets/img/fondo-choose-role.png')!important;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}

#content-container{
    background-color: var(--secondary-color) !important;
    //display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
  background-color: var(--cuaternary-color) !important;
  color:var(--primary-color) !important;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  height: 48px; /* Ajusta a la altura real del footer */
}

