@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  // Colors variables
  --primary-color: #CACEC8FF;
  --secondary-color: #7fa19b;
  --ternary-color: #466753;
  --cuaternary-color: #26334b;
  --penta-color: #466753;
  --hexa-color: #7c857f;
  --hepta-color: #2d2540;

  // Typography variables
  --primary-font: Cinzel;
}

html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura de la pantalla */
  margin: 0;
  font-family: var(--primary-font);
  color:var(--primary-color) !important;
}

main{
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/fondo-hechizos.png');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 56px - 48px);
  padding-bottom: 60px;
}

footer {
  height: 48px; /* Ajusta a la altura real del footer */
}
.custom-body {
  background: linear-gradient(to right, var(--cuaternary-color) 0%, var(--ternary-color) 100%);
  color: var(--primary-color)!important;
  border: 1px solid var(--ternary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  mix-width: 80vh;
  min-height: 30vh;
  transition: all 0.3s;
}

.spell-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.card-img-top {
  width: 20vh;
  height: 30vh;
  object-fit: cover;
}

.modal-style {
  background: linear-gradient(to right, var(--cuaternary-color) 0%, var(--ternary-color) 100%);
  color: var(--primary-color)!important;
  border: 1px solid var(--ternary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}



@media (max-width: 768px) {
  .spell-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}