// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

//Cynthia
body {
  background: url("../../assets/img/backgroung3.jpg") no-repeat center center fixed;
  background-size: cover;
}
#change-password-form{
  background-color: rgba(108, 117, 125, 0.19);
}

