@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

//Cynthia
body {
  background: url("../../assets/img/backgroung3.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
}

:root {
  // Colors variables
  --primary-color: #CACEC8FF;
  --secondary-color: #7fa19b;
  --ternary-color: #466753;
  --cuaternary-color: #26334b;
  --penta-color: #466753;
  --hexa-color: #7c857f;
  --hepta-color: #2d2540;

  // Typography variables
  --primary-font: Cinzel;
}

#change-password-form{
  padding: 0px;
}

div#form-container {
  background-color: var(--cuaternary-color);
  font-family: var(--primary-font);
}

h3{
  font-family: Cinzel;
}


#message{
  background-color: #282c34;
  padding-top: 3%;
  margin-top: auto;
}


.loader {
  border: 6px solid #f3f3f3; /* Fondo gris */
  border-top: 6px solid #3498db; /* Azul en la parte superior */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto; /* Centra el spinner */
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* From Uiverse.io by WhiteNervosa */
.btn {
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: color;
  color: var(--primary-color) !important;
}

.btn:focus,
.btn:hover {
  color: var(--primary-color);
}

.btn:focus:after,
.btn:hover:after {
  width: 100%;
  left: 0%;
}

.btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: width, left;
}



