// Cynthia Rivas Del Moral
#start-duels #main-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
  flex-direction: column;
}

#start-duels #starDuels {
  background-color: var(--cuaternary-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#start-duels #starDuelsBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#start-duels #starDuelTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
}

#start-duels #startDuelText {
  font-size: 1rem;
  color: var(--hexa-color);
  margin-bottom: 20px;
}


#duels, #start-duels{
  background-image: url('../assets/img/background_duels.png') !important;
  background-size: cover;
  background-position: center;
}

#duels #main-container-2 {
  width: 100%;
}

#duels .deck {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#duels .card-down,
#duels .card-up {
  width: 185px;
  height: 256px;
  border-radius: 10px;
  cursor: pointer;
  transform: translate(0,0);
  transition: transform 0.5s ease-in-out;
  box-shadow: 2px 2px 4px 0 rgba(46, 124, 227, 0.85);
}

#duels .card-up {
  background-color: #cbe3ff;
}

#duels .card-up:hover{
  position: relative;
  top: -7px;
  box-shadow: 7px 7px 12px 0 rgba(46, 124, 227, 0.91);
}

#duels .card-down {
  background-image: url("../assets/img/background-duels-card.png");
  background-size: cover;
  background-position: center;
}

#duels .selection-area {
  width: 205px;
  height: 276px;
  background-color: rgba(0, 0, 0, 0.32);
  display: flex;
  padding: 10px;
}

.in-drop-zone {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
}