// Cynthia Rivas Del Moral
#start-duels #main-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
  flex-direction: column;
}

#start-duels #starDuels {
  background-color: var(--cuaternary-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#start-duels #starDuelsBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#start-duels #starDuelTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
}

#start-duels #startDuelText {
  font-size: 1rem;
  color: var(--hexa-color);
  margin-bottom: 20px;
}


#duels, #start-duels{
  background-image: url('../assets/img/background_duels.png') !important;
  background-size: cover;
  background-position: center;
}

#duels #main-container-2 {
  width: 100%;
}

#duels .deck {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

#duels .card {
  width: 165px;
  height: 250px;
  background-color: #ffcccb;
  border: 2px solid #ff0000;
  border-radius: 10px;
  cursor: pointer;
}

#duels .selection-area {
  width: 200px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-drop-zone {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
}