body.ingredients-page {
  background: url("/Users/miguel/Desktop/laravel_vite_challenge_hogwarts/Front/src/assets/img/bg-ingredients.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}