:root {
  --student-background: url('../assets/img/background4.png');
  --teacher-background: url('../assets/img/backgroung5.png');
}

#profile #main-container,
#student-teacher  #main-container{
  overflow: auto;
  height: calc(100vh - 269px);
}

@media (width >= 1000px) {
  #profile #profile-table {
    min-width: 50rem;
  }
}

body.student-background,
body.teacher-background{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}
body.student-background{
  background-image: var(--student-background) !important;
}
body.teacher-background{
  background-image: var(--teacher-background) !important;
}

#student-teacher .card {
  background-color: var(--cuaternary-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#student-teacher .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#student-teacher .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
}

#student-teacher .card-text {
  font-size: 1rem;
  color: var(--hexa-color);
  margin-bottom: 20px;
}

#student-teacher h1,
#student-teacher h2,
#student-teacher h3,
#student-teacher p,
#student-teacher td,
#student-teacher th {
  font-size: var(--font-size-title);
}

#student-teacher .card {
  height: 100%;
  color: var(--primary-color) !important;
  background-color: var(--cuaternary-color) !important;
}

#student-teacher .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-color)
}

#student-teacher .card-uniform {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#profile tr:hover {
  background-color: var(--hexa-color) !important;
}

#profile .profile-section {
  text-align: center;
}

#profile .profile-section img {
  border: 2px solid #ccc;
  object-fit: cover;
  display: block;
}

#profile .profile-section label {
  margin-top: 10px;
}

#profile .profile-data h2 {
  text-align: center;
  margin-bottom: 20px;
}