// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "./potions.scss";
@import "./ingredients.scss";
@import "./houses.scss";
@import "./email";
@import "./componets";
@import "./loader.scss";

// Miguel León Fernández
:root {
  // Colors variables
  --primary-color: #CACEC8FF;
  --secondary-color: #7fa19b;
  --ternary-color: #466753;
  --cuaternary-color: #26334b;
  --penta-color: #466753;
  --hexa-color: #7c857f;
  --hepta-color: #2d2540;
  --octa-color: #26334BE5;

  // Typography variables
  --primary-font: Cinzel;
}

//Miguel León Fernández
body {
  background: url("../assets/img/background.png") no-repeat center center fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  padding-bottom: 100px;
}

//Miguel León Fernández
// Background-colors
.bg-primary-person {
  background-color: var(--primary-color) !important;
}

.bg-secondary-person {
  background-color: var(--secondary-color) !important;
}

.bg-ternary-person {
  background-color: var(--ternary-color) !important;
}

.bg-cuaternary-person {
  background-color: var(--cuaternary-color) !important;
}

.bg-penta-person {
  background-color: var(--penta-color) !important;
}

.bg-hexa-person {
  background-color: var(--hexa-color) !important;
}

.bg-hepta-person {
  background-color: var(--hepta-color) !important;
}

.bg-octa-person {
  background-color: var(--octa-color) !important;
}

//Miguel León Fernández
// Color-text
.text-primary-person {
  color: var(--primary-color) !important;
}

.text-secondary-person {
  color: var(--secondary-color) !important;
}

.text-ternary-person {
  color: var(--ternary-color) !important;
}

.text-cuaternary-person {
  color: var(--cuaternary-color) !important;
}

.text-penta-person {
  color: var(--penta-color) !important;
}

.text-hexa-person {
  color: var(--hexa-color) !important;
}

.text-hepta-person {
  color: var(--hepta-color) !important;
}

//Miguel León Fernández
// Border-color
.border-primary-person {
  border-color: var(--primary-color) !important;
}

.border-secondary-person {
  border-color: var(--secondary-color) !important;
}

.border-ternary-person {
  border-color: var(--ternary-color) !important;
}

.border-cuaternary-person {
  border-color: var(--cuaternary-color) !important;
}

.border-penta-person {
  border-color: var(--penta-color) !important;
}

.border-hexa-person {
  border-color: var(--hexa-color) !important;
}

.border-hepta-person {
  border-color: var(--hepta-color) !important;
}

//Miguel León Fernández
.animated-owl {
  width: 75%;
  animation: fly 6s ease-in-out infinite;
}

//Miguel León Fernández
@keyframes fly {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(15px, -10px) rotate(5deg);
  }
  50% {
    transform: translate(-15px, 10px) rotate(-5deg);
  }
  75% {
    transform: translate(10px, -15px) rotate(3deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

// Miguel León Fernández
.text-shadow-person {
  text-shadow: 0px 0px 5px black !important;
}

.text-shadow-light-person {
  text-shadow: 0px 0px 5px var(--primary-color) !important;
}

// Miguel León Fernández
.btn:hover {
  transition-duration: 0.3s;
  text-shadow: 0px 0px 5px var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

// Miguel León Fernández
.btn:active {
  transition-duration: 0.3s;
  background-color: var(--hepta-color) !important;
}